@charset "UTF-8";

body{

	font:14px/1.5 Arial , Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
}
.container{

	width:100%;
	margin-left: 0px;
	overflow: hidden;
	height: 70px;
}
header #logo img{
    max-width: 70px;
    max-height: 70px;
    margin-top: 5px;
    padding-left: 30px;
    float: left;
	}
	#sendit{
		margin-top: 7px;
		font-size: 15px;
	}
	#it{

		color: #404040;
	}
	.pp{
		color: #404040;


	}
	.menu{
		margin-right: 350px;
		display: inline;
		width: 500px;
	}
.menu #home-mn{
		margin-left: 150px;
		display: inline;
		width: 1000px;
	}	
header{
	background: #FFFFFF;
	color: #ffffff;
	padding-top:0px;
	height:70px;
	border-bottom:#e8451d 3px solid;
}
header a{

	color: #FF0000;
	text-decoration: none;
	text-transform: uppercase;
	font: 16px;
}
header ul{
	margin: 0;
	padding: 0;
	height: 30px;
}
header li{
	float: left;
	display: inline;
	padding: 0 22px 0 20px;


}
 .user{
	float: right;
	display: inline;
	margin-left: 5px;
	margin-right: 0;
	width: 125px;
	margin-top: 25px;
	
}
  .user a{
  	margin-right: 5px;
  }
header #branding{
	float: left;
	display: inline;
	width: 300px;
}
header #branding h1{
	margin: 0;

}
header nav{
	float: right;
	margin-top: 15px;
}
header .highlight, .current a{
	color: #e8451d;
	font-weight: bold;

}
.highlight{
	font-size: 40px;
}
header a:hover{
	color: #cccccc;
	font-weight: bold;
	background-color: #e8451d;

}
header li:hover{
	background-color: #e8451d;
	height: 40px;
	color:#cccccc; 
}
header .user-au:hover{
	background-color: #e8451d;
	height: 40px;
	color: #cccccc;
}
#showcase{
	
	background: url() no-repeat;

}
#showcase .container{
	width: 100%;
	min-height: 300px;
	margin-left: 30px;
	background-image: url(../images/Sign.jpg);
	background-repeat: none;
}
#showcase h1{
	margin-top: 10px;
	font-size: 30px;
	margin-bottom: 0px;
}

#showcase .container #intro .welcome{
   width: 700px;
	float: left;
	margin-left: 50px;
	margin-top: 20px;
}

#showcase .container #intro .geo_pic{
	float: right;
}
#geo_pic{	
	width: 400px;
	float: right;
	height: 600;
	margin-right: 40px;
	margin-top: 20px;
	background-color: white;
}
#newsletter{
	padding: 15px;
	color: #ffffff;
	background:#f8cf99;
	height: 80px;
}
#newsletter h1{
	float: left;
	margin-left: 300px;
	margin-bottom: 200px;
}
#newsletter form{
	float: right;
	margin-top: 20px;
	margin-right: 50px;
}
#newsletter input[type="text"]{
	padding: 4px;
	height: 25px;
	width: 250px;
	border-radius: 5px;
}
#newsletter .button_1{
	height: 35px;
	background:#e48542;
	border: 0;
	border-radius: 8px;
	margin-right: 10px;
	padding-left: 20px;
	color: #ffffff;
	width: 150px;
}

/*  frm*/

#login-frm input, button{
	display: block;
	height: 35px;
	margin-top: 10px;
	width: 300px;
	margin-left: 25px;

}

form #login-frm{
    	max-height: 500px;
}
.frm-container{
	background-color: #e48542;
	width: 350px;
	position: center;
	margin-left: 400px;
	margin-top: 100px;
	height: 250px;
	border-top: inset;
}
.frm-container .button_1{
	background-color: #606060;
}
/* Styling footer*/
.services{

	float: left;
	margin-left: 10px;
	width: 400px;
	margin-top: 5px;

}
.services ul{
	list-style: none;
}
.our-work {
	float: right;
	width: 700px;
	margin-top: 0;
	margin-right: 70px;
}
.our-work ul{
	list-style: none;
}
.services #left{
 float: left;
}
.services #right{
	float: right;
}
.our-work #left{
float: left;
}
.our-work #right{
 float: right;
 margin-right: 5px;
}
.our-work #right ul li img{
	height: 80px;
	width: 80px;
	display: inline;
   }
   .our-work #right ul li{
	display: inline;
   }
/*styling sign-up Page*/
.container  #signup-body{
	margin-left: 0%;
}
 #signup-body{

	width: 1300px;
	height: 420px;
	margin-bottom: 5px;
	background-image: url(../images/SignUp.jpg);
}
#signup-frm h1{
	margin-left: 125px;

}
#signup button, input {
	display: block;
	height: 35px;
	margin-top: 10px;
	width: 300px;
	margin-left: 0;
	margin-right: 50px;	
}
#signup input{
	background: #fffefece;
	border-radius: 4px;
	border-color: #faa96fa9;
	color: rgb(37, 36, 36);
	
}
#signup button{
	background: #e48542;
	border-radius: 10px;
	border-color: transparent;
	color: #FFFFFF;
}

#signup  #right {
	float: right;
	width: 400px;
	margin-right: 20px;
	margin-top: 10px;
}
#signup  #left {
	float: left;
	width: 800px;
	margin-top: 60px;
	font-family: -apple-system, BlinkMacSystemFont;
	vertical-align: middle;
	font-size: 35px;
	margin-left: 20px;
}
/* index page style*/
#Track{
	float: left;
	height: 70px;
}

#Track input{

	float: left;
}
/* dashb*/
.form-dsb #dshb{

	height: 380px;
}
.form-dsb form {
	width: 70%;
	background: #ffffff;
	height: 700px;
	margin-left: 50px;
	margin-top: 60px;
	float: left;
    
}
.form-dsb button{

	width: 100px;
}
.form-dsb h1 {
	font-size: 25px;
	color: #404040;
	margin-left: 20px;
	margin-top: 30px;
    
}
.form-dsb form input{
 	float: none;
	display: inline;
	width: 200px;
	height: 40px;
}
.form-dsb form input[type="number"]{
	width: 50px;
	margin-right: 0;
	padding-left: 5px;
	margin-top: 20px;
	height: 20px;
}
.form-dsb form button{

	display: inline;

}
.quote{
	margin-top: 20px;
	margin-left: 20px;
	background: #e48542;
	height: 65px;
	position: center;
	width: 760px;
	color: white;
}
.quote span{
	margin-right: 50px;
	margin-left: 40px;
}
.quote-info{
	margin-top: 20px;

}
.quote-info,label{
	margin-left: 20px;

}

.btn-quote{
	float: right;
	margin-right: 20px;
	background-color: #ff974fbf;
	color: #ffffff;
}
.btn-add-quote{
	background: #565555b5;
	color: #ffffff;
}
.user-quote aside{
	float: right;
	margin-top: 60px;
	height: 300px;
	background: white;
	width: 23%;
	margin-left: 10px;
	
}
.orders_port{
	margin-top: 80px;
}
.orders_port h1{

	margin-left: 100px;
}
#header-info{
	width: 800px;
	margin-left: 50px;
	
}
#header-info ul{
	height: 50px;
	background: #e48542;
}
#header-info li{
	float: left;
	display: inline;
	list-style: none;
	padding-left: 10px;
	height: 40px;
	color: white;
	width: 80px;
	padding-top: 15px;
	font-weight: bold;
}
.orders{
     width: 800px;
    min-height: 100px;
	max-height: 300px;
	background: white;
	margin-left: 50px;
	margin-top: 30px;
}
.orders table{

	width: 800px;
}

.orders table tr{
	height: 25px;
	font-size: 15px;
	background-color: #e48542;
	border-width: 1px;
}
.orders table td{

	border-spacing: 0;
	border-width: 1px;
}